*{
    box-sizing: border-box;
    margin: 0;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
:root{
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --VeryDarkBlue: hsl(234, 12%, 34%);
    --GrayishBlue: hsl(229, 6%, 66%);
    --VeryLightGray: hsl(0, 0%, 98%);
}
h1,h2,h2{
    color: var(--VeryDarkBlue);
}
p{
    color: var(--GrayishBlue);
}
body{
    padding: 50px;
}
header{
    position: relative;
    width: 100%;
    height: 250px;
    padding: 0
}
header .container{
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
h2{
    font-weight: 200;
    font-size: 30px;
}
header .container p{
    padding: 10px 0 0 0;
}
header .container h1{
    font-size: 34px;
    font-weight: 600;
}
.landing{
    position: relative;
    width: 100%;
    height: 630px;
}
.landing .container{
    position: absolute;
    width: 100%;
    height: 100%;
}
.landing .square{
    position: relative;
    box-shadow: rgb(149 157 165 / 68%) 0px 8px 24px;
    width: 33%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 15px;
}
.landing .square img{
    position: absolute;
    bottom: 15px;
    right: 30px;
}
#square1{
    left: 50%;
    right: 50%;
    transform: translate(-50% , 50%);
}
#square1::before{
    content: "";
    position: absolute;
    top: 0 ;
    left: 0;
    color: var(--Red);
    width: 100%;
    height: 3px;
    background-color: var(--Red);

}
#square2{
    top: 50%;
    right: 0px;
    transform: translateY(-50%)
}
#square2::before{
    content: "";
    position: absolute;
    top: 0 ;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--Blue);
}
#square3{
    top: 50%;
    left: 0px;
    transform: translateY(-50%)
}
#square3::before{
    content: "";
    position: absolute;
    top: 0 ;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--Orange);}
#square4{
    left: 50%;
    right: 50%;
    transform: translate(-50% , -50%);
    bottom: 0;
}
#square4::before{
    content: "";
    position: absolute;
    top: 0 ;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--Cyan);

}
#square1,
#square2,
#square3,
#square4{
    position: absolute;
}
@media (max-width:850px){
    body{
        padding: 15px;
    }
    br{
        display: none;
    }
    h1,
    h2{
        font-size: 22px;
    }

    .landing{
        margin-top: 50px;
        height: 1000px;
    }   
    .landing .container{
        display: flex;
        gap: 45px;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .landing .square{
        position: relative;
        box-shadow: rgb(149 157 165 / 68%) 0px 8px 24px;
        width: 100%;
        height: 225px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 15px;
        transform: none;
    }
    #square1,#square2,
    #square3,
    #square4{
        position: unset;
        transform: translateZ(10px);
    }
    .landing img{
        position: initial;
    }
}